<header>
  <h1 id="dashboard_title"><%=t :'.header' %></h1>
</header>

<%= raw '<div class="wrap"><p class="notice">' + notice + '</p></div>' if notice %>
<%= raw '<div class="wrap"><p class="alert">' + alert + '</p></div>' if alert %>

<% if @projects.empty? %>
  <div class="help_notice">
    <% if current_user.admin_in_accounts.empty? %>
      <%= raw t('.empty') %>
    <% else %>
	    <% current_user.admin_in_accounts.each do |account| %>
        <h2><%= raw t('.empty_admin', :account_name => account.name) %></h2>
      	<%= link_to t('.add_project'), [:new, account, :project] %> <%= t :or %>
      	<%= link_to t('.add_user'), [:new, account, :invitation] %>
      	<br />
      	<hr />
      	<br />
  	  <% end %>
  	<% end %>
  </div>
<% else %>
	<%= render "accounts/projects/events" %>
<% end %>