<header>
  <h1 id="dashboard_title"><%=t :'.header' %></h1>
</header>
<% if @projects.empty? %>
  <div class="help_notice">
    <% if current_user.accounts.empty? %>
      <%= raw t('dashboard.index.empty') %>
    <% else %>
	    <% current_user.accounts.each do |account| %>
        <h2><%= raw t('dashboard.index.empty_admin', :account_name => account.name) %></h2>
      	<%= link_to t('dashboard.index.add_project'), [:new, account, :project] %> <%= t :or %>
      	<%= link_to t('dashboard.index.add_user'), [:new, account, :invitation] %>
      	<br />
      	<hr />
      	<br />
  	  <% end %>
  	<% end %>
  </div>
<% end %>