<div id="user_box">
  <header>
  	<%= title 'devise.registrations.profile' %>
  </header>
	<%= form_for current_user, :url => user_registration_path, :html => { :class => 'action_form', :method => :put, :multipart => true , :id => nil} do |f| %>
	  <%= raw '<p class="notice">' + notice + '</p>' if notice %>
	  <%= render 'shared/error_messages', :target => f.object %>

	  <%= f.label :first_name  %>
	  <%= f.text_field :first_name  %>

	  <%= f.label :last_name  %>
	  <%= f.text_field :last_name  %>

	  <%= f.label :avatar %>
	  <%= f.file_field :avatar %>

	  <%= f.label :email %>
	  <%= f.text_field :email %>

		<%= f.label :password %>
	  <%= f.password_field :password %>

	  <%= f.label :password_confirmation %>
	  <%= f.password_field :password_confirmation %>

    <p><strong><%= t 'devise.registrations.confirm_password' %></strong></p>
		<%= f.label :current_password %>
	  <%= f.password_field :current_password %>

		<div class="buttons">
      <%= f.submit t(:update) %>
	  </div>
	<% end %>
</div>
