<div id="user_box">
  <header>
  	<%= title 'devise.registrations.new' %>
  </header>
	<%= form_for @user, :url => registration_path(resource_name), :html => { :class => 'action_form', :multipart => true} do |f| %>
	  <%= render 'shared/error_messages', :target => f.object %>
	  <h3>1. Създайте Taskar акаунт</h3>
	  <%= f.label :email %>
	  <%= f.text_field :email %>

	  <%= f.label :password %>
	  <%= f.password_field :password %>

	  <%= f.label :password_confirmation %>
	  <%= f.password_field :password_confirmation %>

	  <%= f.label :first_name  %>
	  <%= f.text_field :first_name  %>

	  <%= f.label :last_name  %>
	  <%= f.text_field :last_name  %>

    <%= f.label :locale %>
	  <%= f.select :locale, {"Български език" => "bg", "English language" => "en"} %>

	  <%= f.label :avatar %>
	  <%= f.file_field :avatar %>

		<%= f.fields_for :owned_account, @user.owned_account || Account.new do |account| %>
			<%= account.label :name, "Име на фирмата ви" %>
			<%= account.text_field :name %>
		  <h3>2. Създайте адрес на вашия Taskar акаунт</h3>
    	<%= account.label :domain, "Всеки taskar акаунт ще има отделен адрес, чрез който е достъпен самия акаунт." %>
    	<div class="domain_fields">
  		  http://
  		  <%= account.text_field :domain, :style => "width: 180px; display: inline;" %>
  		  .taskarapp.com
  		</div>
		<% end %>

		<div class="buttons">
      <%= f.submit t('devise.registrations.register') %>
	  </div>
	<% end %>
  <%= render "devise/shared/links" %>
</div>