<% content_tag_for(:li, comment) do %>
  <%= image_tag comment.user.avatar.url %>
  <div>
    <h4>
      <%= link_to comment.user.full_name, comment %>
      <%= time_tag(comment.updated_at) %>
    </h4>
    <%= simple_format h(comment.text) %>
    <% if comment.editable_by?(current_user) %>
    <div class="actions">
      <%=t :'.editable_for', :minutes => comment.editable_for %>:
      <%= link_to t(:edit), [:edit, comment], :class => "edit", "data-remote" => true %> |
      <%= link_to t(:delete), comment, :class => "delete", "data-remote" => true, "data-method" => "delete", "data-confirm" => t(:'.confirm') %>
    </div>
    <% end %>
  </div>
<% end %>