<%= form_for @comment, :html => {:class => 'action_form', :id => nil, :'data-remote' => true} do |form| %>
  <%= render 'shared/error_messages', :target => form.object %>
  <%= form.text_area :text, :cols => nil, :rows => nil %>
  <div class="buttons">
    <%= form.submit t(:'.submit')%>
    <%=t :or %>
    <%= link_to t(:'tasks.form.cancel'), @comment, :class => "cancel", "data-remote" => true %>
  </div>
<% end %>