<header>
  <h1><%=t :'.title' %></h1>
  <ul class="actions">
    <li><%= link_to t(".dashboard"), [@project, :sections] %></li>
  </ul>
</header>
<ul class="wrap statuses">
  <% @statuses.each do |status| %>
    <li>
      <%= image_tag status.user.avatar.url %>
      <div>
        <%= simple_format "<strong>#{h(status.user.full_name)}</strong> " + h(status.text) %>
        <%= link_to t(:delete), [@project, status], "data-method" => "delete", "data-confirm" => t(:confirm) %>
        <%= time_tag(status.created_at) %>
      </div>
    </li>
  <% end %>
</ul>
<%= will_paginate(@statuses, :page_links => false, :previous_label => '', :next_label => '') %>