<ul class="bottom_links">
	<% if controller_name != 'sessions' %>
	  <li><%= link_to t('devise.sessions.link'), new_session_path(:user) %> |</li>
	<% end %>
	<% if  controller_name != 'registrations' %>
	 	<li><%= link_to t('devise.registrations.link'), new_registration_path(:user) %> |</li>
	<% end %>
 	<% if controller_name != 'passwords' %>
	  <li><%= link_to t('devise.passwords.link'), new_password_path(:user) %><%= " |" unless controller_name == "unlocks"  %></li>
	<% end %>
	<% if controller_name != 'unlocks' %>
		<li><%= link_to t('devise.unlocks.link'), new_unlock_path(:user) %></li>
	<% end %>
</ul>