<% content_tag_for(:li, task, :class => task.state) do %>
  <%= task_state_checkbox(task) %>
  <p>
    <%= link_to '[a]', archive_task_path(task, :archived => !task.archived?), :class => "archive", "data-remote" => true, "data-method" => "put" %>
    <strong>RStankov</strong> <%=h task.text %>
  </p>
  <span class="more"><%=t :'.more' %></span>
  <%= time_tag task.created_at %>
  <input type="button" class="drag" title="<%=t :'.dnd' %>" />
  <ul>
    <li><%= link_to t(:'.comments', :count => task.comments.size), task %></li>
    <li><%= link_to t(:edit), [:edit, task], :class => "edit", "data-remote" => true %></li>
    <li><%= link_to t(:delete), task, :class => "delete", "data-remote" => true, "data-method" => "delete", "data-confirm" => t(:'.confirm') %></li>
  </ul>
<% end %>