<% content_tag_for(:li, task, :class => task.state + (current_user.id == task.responsible_party_id ? ' personal' : '')) do %>
  <%= task_state_checkbox(task) %>
  <p>
    <%= link_to '[a]', archive_task_path(task, :archived => !task.archived?), :class => "archive", "data-remote" => true, "data-method" => "put" %>
    <% if task.responsible_party_id %><strong><%= task.responsible_party.full_name %></strong><% end %>
    <%=h task.text %>
  </p>
  <span class="more"><%=t :'.more' %></span>
  <%= time_tag task.created_at %>
  <input type="button" class="drag" title="<%=t :'.dnd' %>" />
  <ul>
    <li><%= link_to t(:'.comments', :count => task.comments.size), task %></li>
    <li><%= link_to t(:edit), [:edit, task], :class => "edit", "data-remote" => true %></li>
    <li><%= link_to t(:delete), task, :class => "delete", "data-remote" => true, "data-method" => "delete", "data-confirm" => t(:'.confirm') %></li>
  </ul>
<% end %>