<span class="actions">
  <%= link_to t(:edit), [:edit, @task], :class => "edit", :'data-remote' => true %>
  <%= link_to_delete t(:delete), @task, :class => "delete", :confirm => t(:'tasks.task.confirm') %>
</span>
<%= task_state_checkbox(@task) %>
<%= simple_format h(@task.text) %>
<div>
  <%= task_description(@task) %>
</div>