<% content_tag_for(:li, task, :class => task.state) do %>
  <%= task_state_checkbox(task) %>
  <a href="#" class="archive"></a>
  <p><a href="#"><strong>RStankov</strong></a> <%=h task.text %></p>
  <span class="more">...<%=t :'.more' %></span>
  <time datetime="<%= task.created_at.rfc2822 %>"><%= time_ago_in_words(task.created_at) %></time>
  <input class="drag" type="button" title="<%=t :'.dnd' %>" />
  <ul>
    <li><%= link_to t(:'.comments', :count => task.comments.size), task %></li>
    <li><%= link_to t(:edit), [:edit, task], :class => "edit" %></li>
    <li><%= link_to t(:delete), task, :class => "delete", "data-confirm" => t(:'.confirm') %></li>
  </ul>
<% end %>