<% content_tag_for(:li, task, :class => task.state) do %>
  <%= task_state_checkbox(task) %>
  <%= link_to '[archive]', archive_task_path(task), :class => "archive", "data-remote" => true, "data-method" => "put" %>
  <p style="overflow:hidden;height: 18px;"><a href="#"><strong>RStankov</strong></a> <%=h task.text %></p>
  <span class="more">...<%=t :'.more' %></span>
  <%= time_tag task.created_at %>
  <a href="#" class="drag" title="<%=t :'.dnd' %>"></a>
  <ul>
    <li><%= link_to t(:'.comments', :count => task.comments.size), task %></li>
    <li><%= link_to t(:edit), [:edit, task], :class => "edit", "data-remote" => true %></li>
    <li><%= link_to t(:delete), task, :class => "delete", "data-remote" => true, "data-method" => "delete", "data-confirm" => t(:'.confirm') %></li>
  </ul>
<% end %>