<% content_tag_for(:li, task, "data-change-section" => section_task_path(task), :class => task.state + (current_user.id == task.responsible_party_id ? ' personal' : '')) do %>
	<div class="tooltip">
		<div class="arrow"></div>
		<div class="actions">
			<%= link_to t(:'.comments', :count => task.comments.size), task %>
			<%= link_to t(:edit), [:edit, task], :class => "edit", "data-remote" => true %>
			<%= link_to t(:delete), task, :class => "delete", "data-remote" => true, "data-method" => "delete", "data-confirm" => t(:'.confirm') %>
				<a href="#" class="add" data-after="<%= task.id %>"><%= t 'sections.show.add_task' %></a>
		</div>
	</div>
  <%= task_state_checkbox(task) %>
  <p>
    <%= link_to '', archive_task_path(task, :archived => !task.archived?), :class => "archive", "data-remote" => true, "data-method" => "put" %>
    <span><%=h task.text %></span>
    <% if task.responsible_party %><strong><%=h task.responsible_party.full_name %></strong><% end %>
  </p>
  <input type="button" class="drag" title="<%=t :dnd %>" />
<% end %>