<header>
  <h1 id="task_title"><%=raw t("tasks.from_section", :section => link_to(@section.name, @section))  %></h1>
</header>
<div class="wrap">
  <%= render "content" %>
  <div id="comments"<%= raw ' style="display: none;"' if @task.comments.size == 0 %>>
    <h3><%= raw t(:'.comments', :count => '<span id="comments_count">' + @task.comments.size.to_s + '</span>') %></h3>
    <ul>
      <%= render @task.comments %>
    </ul>
  </div>
  <% unless @task.archived? %>
   	<%= render "comments/new_form" %>
  <% end %>
</div>