<div id="user_box">
  <header>
  	<%= title "devise.unlocks.title" %>
  </header>
	<%= form_for @user, :url => unlock_path(resource_name), :html => {:class => "action_form"} do |f| %>
		<%= render "shared/error_messages", :target => f.object %>
	  <%= f.label :email %>
	  <%= f.text_field :email %>
	  <%= render "devise/shared/domain" %>
	  <%= f.submit t("devise.unlocks.submit") %>
	<% end %>
	<%= render "devise/shared/links" %>
</div>