<header>
	<h1 id="projects_title"><%=t "projects.index" %></h1>
	<ul class="actions">
		<%= link_to t("layouts.accounts.new_project"), [:new, @account, :project] %>
	</ul>
</header>
<div class="wrap">
	<% if @projects[0] %>
		<h2 class="statistics"><%=t "projects.active" %> (<%= @projects.size %>)</h2>
		<ul>
			<%= render @projects %>
		</ul>
		<hr />
	<% end %>
	<% if @completed[0] %>
		<h2 class="statistics"><%=t "projects.active" %> (<%= @completed.size %>)</h2>
		<ul>
			<%= render @completed %>
		</ul>
		<hr />
	<% end %>
</div>