<header>
	<h1 id="project_title"><%= @project.name %></h1>
	<ul class="actions">
		<li>
			<%= link_to complete_account_project_path(@account, @project, :complete => !@project.completed?), :method => "put" do %>
	   		<%= check_box_tag '', '', @project.completed? %> <%=t :'projects.complete_project' %>
	 		<% end %>
		</li>
	  <li><%= link_to t(:view), project_sections_path(@project) %></li>
	  <li><%= link_to t(:edit), [:edit, @account, @project] %></li>
	  <li><%= link_to t(:delete), [@account, @project], :confirm => t(:'projects.confirm'), :method => "delete" %></li>
	</ul>
</header>
<div class="wrap">
	<% if @project.users[0] %>
		<h2 class="statistics"><%=t :'projects.participants' %> (<%= @project.users.size %>)</h2>
		<ul id="users_list">
		  <%= render @project.users %>
		</ul>
		<hr />
	<% end %>
	<% if @sections[0] %>
	<h2 class="statistics"><%=t :'projects.sections' %> (<%= @sections.size  %>)</h2>
	<ul>
	  <% @sections.each do |section| %>
			<li class="tasks_stats">
				<%= link_to section do %>
					<%= tasks_stats(section)  %>
					<%= raw "<small>#{t('projects.archived_section')}</small>" if section.archived? %>
				<% end %>
			</li>
	 <% end %>
	</ul>
	<% end %>
</div>

