<h1><%=t :'users.edit_user' %></h1>

<%= render "form" %>

<h2><%=t :'users.change_password' %></h2>

<% form_for @user, :html => {:multipart => true} do |f| %>
  <%= f.error_messages if @user.errors.on(:password) %>
  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>
  
  <p><%= f.submit t(:update) %></p>
<% end %>