<header>
	<h1 id="user_title"><%=h @user.full_name %></h1>
	<ul class="actions">
	<% unless current_user == @user || @user.owned_account %>
		<li>
			<% link_to set_admin_user_path(@user, :admin => !@user.admin?), :'data-method' => "put" do %>
	   		<%= check_box_tag '', '', @user.admin? %> <%=t :'users.admin' %>
	 		<% end %>
		</li>
	<% end %>
		<li><%= link_to t(:edit), [:edit, @user] %></li>
		<li><% link_to_delete @user, :confirm => t(:'users.confirm') do %><%= t(:delete) %><% end %></li>
	</ul>
</header>

<div id="content">
	<p>
		<% if @user.avatar? %>
		  <%= image_tag @user.avatar.url, :style => 'float: right' %>
		<% end %>
		
		<strong><%= User.human_attribute_name(:first_name) %>:</strong>
	  <%=h @user.first_name %>
		<br />
		<strong><%= User.human_attribute_name(:last_name) %>:</strong>
	  <%=h @user.last_name %>
		<br />
	  <strong><%= User.human_attribute_name(:email) %>:</strong>
	  <%=h @user.email %>
	</p>

	<% if @user.projects[0] %>
		<h2 class="statistics"><%=t :'users.projects', :name => h(@user.full_name) %> (<%= @user.projects.size %>)</h2>
		<ul>
		  <% @user.projects.each do |project| %>
		    <li><%= link_to h(project.name), [project, :sections] %></li>
		  <% end %>
		</ul>
	<% end %>
</div>