<h1><%=h @user.full_name %></h1>

<%= link_to t(:edit), [:edit, @user] %> | 
<%= link_to_delete t(:delete), @user, :confirm => t(:'users.confirm') %>
<% if current_user != @user %>
  | <% link_to set_admin_user_path(@user, :admin => !@user.admin?), :'data-method' => "put", :'data-token' => form_authenticity_token do %>
    <%= check_box_tag '', '', @user.admin? %><%=t :'users.admin' %>
  <% end %>
<% end %>
<br />

<% if @user.avatar? %>
  <%= image_tag @user.avatar.url %>
<% end %>

<% if @user.admin? %>
  <div class="admin_banner"><%=t :'activerecord.attributes.user.admin' %></div>
<% end %>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<h3><%=t :'users.projects', :name => @user.full_name %></h3>
<ul>
  <% @user.projects.each do |project| %>
    <li><%= link_to h(project.name), [project, :sections] %></li>
  <% end %>
</ul>