<div id="user_box">
  <header>
  	<%= title "devise.passwords.forgot_title" %>
  </header>
	<%= form_for @user, :url => password_path(resource_name), :html => {:class => "action_form"} do |f| %>
	  <%= render "shared/error_messages", :target => f.object %>
	  <%= f.label :email %>
	  <%= f.text_field :email %>
	  <%= f.label :account_id %>
	  <%= f.select :account_id, [["---------------" , ""]] + Account.all.map {|a| [a.name, a.id]} %>
	  <%= f.submit t("devise.passwords.send_instructions_button") %></p>
	<% end %>
  <%= render "devise/shared/links" %>
</div>