<header>
	<h1><%= t 'devise.registrations.profile' %></h2>
</header>

<div class="wrap">
	<% form_for @user, :url => registration_path(resource_name), :html => { :class => 'action_form', :method => :put, :multipart => true } do |f| %>
	  <%= render 'shared/error_messages', :target => f.object %>

		<p><em><%= t 'devise.registrations.confirm_password' %></em></p>
		<p><%= f.label :current_password %></p>
	  <p><%= f.password_field :current_password %></p>
			
	  <p><%= f.label :email %></p>
	  <p><%= f.text_field :email %></p>

	  <p><%= f.label :first_name  %></p>
	  <p><%= f.text_field :first_name  %></p>

	  <p><%= f.label :last_name  %></p>
	  <p><%= f.text_field :last_name  %></p>
  
	  <p><%= f.label :avatar %></p>
	  <p><%= f.file_field :avatar %></p>
	
		<p><%= f.label :password %></p>
	  <p><%= f.password_field :password %></p>

	  <p><%= f.label :password_confirmation %></p>
	  <p><%= f.password_field :password_confirmation %></p>
	
		<div class="buttons">
      <%= f.submit t(:update) %>
	  </div>
	<% end %>
</div>
<!--
<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

-->
