<header>
  <nav id="nav_account">
    <%= link_to t(:"layouts.general.profile"), edit_user_registration_path %> |
    <%= link_to t(:"layouts.general.feedback"), "#" %> |
    <%= link_to t(:"layouts.general.logout"), destroy_user_session_path %>
  </nav>
  <% if content_for? :header %>
    <%= yield(:header) %>
  <% else %>
    <% if current_user.admin_in_accounts.size == 1 %>
      <% account = current_user.admin_in_accounts.first %>
      <h2><%= account.name  %></h2>
      <nav id="nav_project">
        <span>
          <% if account.admin?(current_user) %>
            <%= link_to t("layouts.dashboard.title"), account, :class => controller_name == "accounts" && "selected" %>
            <%= link_to t("users.title"), [account, :users], :class => controller_name == "users" && "selected" %>
            <%= link_to t("projects.index"), [account, :projects], :class => controller_name == "projects" && "selected" %>
          <% end %>
        </span>
      </nav>
    <% elsif current_user.admin_in_accounts.size > 1 %>
      <h2><%= current_user.full_name %>
        <%= render "shared/accounts" %>
      </h2>
    <% elsif current_user.accounts.size == 1 %>
      <h2>
        <%= current_user.accounts.first.name %>
        <%= link_to t("layouts.dashboard.back_to_dashboard"), root_path, :id => "back_to_dashboard" if controller_name == "dashboard" %>
      </h2>
    <% end %>
  <% end %>
</header>