<header id="header">
  <nav id="nav_account">
    <%= link_to t(:"layouts.general.profile"), edit_user_registration_path %> | 
    <%= link_to t(:"layouts.general.logout"), destroy_user_session_path %>
  </nav>
  <% if @content_for_header %>
    <%= yield(:header) %>
  <% else %>
    <h2><%= account.name  %></h2>
    <nav id="nav_project">
      <span>
        <%= link_to t("layouts.dashboard.title"), :root, :class => controller_name == "dashboard" && "selected" %>
        <% if current_user.admin? %>
          <%= link_to t("users.title"), :users, :class => controller_name == "users" && "selected" %>
          <%= link_to t("projects.index.title"), :projects, :class => controller_name == "projects" && "selected" %>
        <% end %>
      </span>
    </nav>
  <% end %>
</header>