<h1>Editing section</h1>

<% form_for [@project, @section] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [:edit, @project, @section] %> |
<%= link_to 'Back', project_sections_path(@project) %>