<header>
  <h1>
    <%=t :'.title' %>
  </h1>
  <ul class="actions">
    <li><%= link_to t(".statuses"), [@project, :statuses] if @project %></li>
  </ul>
</header>
<table id="events" colspan="0" rowspan="0">
  <% date = nil %>
  <% @events && @events.each do |event| %>
    <% unless event.updated_at.to_date == date %>
      <tr>
        <th colspan="4"><h2><%=l date = event.updated_at.to_date, :format => :long %></h2></th>
      </tr>
    <% end %>
    <tr>
      <td><span class="<%= event.type  %>"><%=t "events.subject.#{event.type}" %></span></td>
      <td class="<%= event.action %>" title="<%= t(:before, :time => time_ago_in_words(event.updated_at)) %>">
        <% if event.linkable?%>
          <%= link_to h(truncate(event.info, :length => 65)), event.url_options %>
        <% else %>
          <%= h(truncate(event.info, :length => 65)) %>
        <% end %>
      </td>
        <td class="action"><%=t "events.action.#{event.action}" %></td>
        <td class="user"><%= event.user.full_name %></td>
    </tr>
  <% end %>
</table>
<footer class="pagination">
  <%= will_paginate @events, :page_links => false, :previous_label => t(:previous_page), :next_label => t(:next_page), :separator => "|", :container => false if @events %>
</footer>