<header>
  <icon name="people"</icon>
  <h1><%=t :'.title' %></h1>
</header>
<table id="events">
  <% date = nil %>
  <% @events.each do |event| %>
    <% unless event.updated_at.to_date == date %>
      <tr>
        <th colspan="4"><h2><%=l date = event.updated_at.to_date, :format => :long %></h2></th>
      </tr>
    <% end %>
    <tr title="<%= t(:before, :time => time_ago_in_words(event.updated_at)) %>">
      <td><span class="<%= event.type  %>"><%=t "events.subject.#{event.type}" %></span></td>
      <td class="user"><%= event.user.full_name %></td>
      <td class="<%= event.action %>"><%=t "events.action.#{event.action}" %></td>
      <td class="<%= event.action %>">
        <% if event.linkable?%>
          <%= link_to truncate(event.info, :length => 60), event.url_options %>
        <% else %>
          <%= truncate(event.info, :length => 60) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate(@events, :page_links => false, :previous_label => t(:'.previous'), :next_label => t(:'.next')) %>
<!--
<ul id="events">
  <% for i in 1..10 %>
  <li<%= i % 4 == 0 ? ' class="personal"' : '' %>>
    <a href="#"><%= image_tag "temp/ra4oil.png" %></a>
    <p><a href="#">Radoslav Stankov</a> closed <a href="#">Taskar layout</a>, opened <a href="#">Dashboard design</a></p>
    <span>about 12 hours ago</span>
  </li>
  <% end %>
</ul>
-->