<% if @section.archived? %>
  <header id="section_title">
    <h1 class="archived">
      <%=h @section.name %>
      <%= link_to "", archive_section_path(@section, :archive => false), :class => "unarchive", :'data-method' => 'put' %>
      <%= link_to_delete t(:delete), @section, :class => "delete", :confirm => t(:'.confirm') %>
    </h1>
  </header>
  <ul class="tasks_list static">
    <% @section.tasks.archived.each do |task| %>
      <% content_tag_for(:li, task, :class => task.state + (current_user.id == task.responsible_party_id ? ' personal' : '')) do %>
        <%= task_state_checkbox(task) %>
        <p>
          <%= link_to '', archive_task_path(task, :archived => !task.archived?), :class => "archive", "data-remote" => true, "data-method" => "put" %>
          <% if task.responsible_party %><strong><%= task.responsible_party.full_name %></strong><% end %>
          <%=h task.text %>
        </p>
        <span class="more">...</span>
        <%= time_tag task.created_at %>
        <ul>
          <li><%= link_to task.comments.size, task, :class => 'show', :title => t(:'.comments', :count => task.comments.size) %></li>
        </ul>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <header id="section_title">
    <h1>
      <%=h @section.name %>
      <%= link_to "", archive_section_path(@section, :archive => true), :class => "archive", :'data-method' => 'put' %>
      <%= link_to t(:edit), [:edit, @section], :class => "edit" %>
      <%= link_to_delete t(:delete), @section, :class => "delete", :confirm => t(:'.confirm') %>
    </h1>
    <% form_for @section, :html => {:style => "display:none;"} do |form| %>
      <%= form.text_field :name, :placeholder => Section.human_attribute_name(:name) %>
      <%= form.submit t(:update) %>
      <input type="button" value="<%=t :cancel %>" />
    <% end %>
  </header>
  <ul id="tasks" class="tasks_list" data-sortable="<%= reorder_project_tasks_path(@section.project, @section)  %>">
    <%= render @section.tasks.unarchived %>
    <%= render "tasks/new_task" %>
  </ul>
  <ul id="section_footer">
    <li><input type="button" value="<%=t :'.add_task' %>" class="add"></li>
    <li><input type="button" value="<%=t :'.toggle_archive' %>" class="toggle_archived" data-url="<%= archived_section_tasks_path(@section) %>"></li>
    <li id="more_actions">
      <span><%=t :'.more' %></span>
      <ul>
        <li><a href="#">RSS</a></li>
        <li><span>Print</span></li>
        <li><a href="#">Export</a></li>
        <li><a href="#">Import</a></li>
      </ul>
    </li>
  </ul>
<% end %>