<div id="section_title">
  <h1>
    <%=h @section.name %>
    <%= link_to t(:edit), [:edit, @project, @section], :class => "edit" %>
    <%= link_to_delete t(:delete), [@project, @section], :class => "delete", :confirm => t(:'.confirm') %>
  </h1>
  <% form_for [@project, @section], :html => {:style => "display:none;"} do |form| %>
    <%= form.text_field :name, :placeholder => Section.human_attribute_name(:name) %>
    <%= form.submit t(:update) %>
    <input type="button" value="<%=t :cancel %>" />
  <% end %>
</div>
<ul id="tasks" data-sortable="<%= reorder_project_section_tasks_path(@project, @section)  %>" data-sort="li.task">
  <%= render @section.tasks %>
  <%= render "tasks/new_form" %>
</ul>
<ul id="section_footer">
  <li><input type="button" value="<%=t :'.add_task' %>" id="add_task_button"></li>
  <li><input type="button" value="<%=t :'.toggle_tasks' %>"></li>
  <li><input type="button" value="<%=t :'.more' %>"</li>
</ul>