<% if @section.archived? %>
  <header id="section_title">
    <h1 class="archived">      
      <div class="tooltip">
    		<div class="arrow"></div>
    		<div class="tooltip_actions">
          <%= link_to_delete t(:delete), @section, :class => "delete", :confirm => t(:'.confirm') %>
    		</div>
    	</div>
      <%=h @section.name %>
      <%= link_to "", archive_section_path(@section, :archive => false), :class => "unarchive", :'data-method' => 'put' %>
    </h1>
  </header>
  <ul class="tasks_list static">
    <% @tasks.each do |task| %>
      <%= render "tasks/archived", :task => task %>
    <% end %>
  </ul>
  <footer>
    <li><%= link_to t('.print'), section_path(@section, :format => 'print'), :target => "_blank" %></li>
  </footer>
<% else %>
  <header id="section_title">
    <%= render "title" %>
  </header>
  <ul id="tasks" class="tasks_list" data-sortable="<%= reorder_project_tasks_path(@section.project, @section)  %>">
    <%= render @tasks %>
    <%= render "tasks/new_task" %>
  </ul>
  <footer>
    <li><a href="#" class="add"><%=t :'.add_task' %></a></li>
    <li>
        <a href="#" class="toggle_archived" data-url="<%= archived_section_tasks_path(@section) %>">
          <span><%=t :'.toggle_archive' %></span>
        </a>
    </li>
    <li><%= link_to t('.print'), section_path(@section, :format => 'print'), :target => "_blank" %></li>
  </footer>
<% end %>