<div id="section_title">
  <h1>
    <%=h @section.name %>
    <%= link_to "edit", [:edit, @project, @section], :class => "edit" %>
    <%= link_to_delete "delete", [@project, @section], :class => "delete", :confirm => "Are you sure?" %>
  </h1>
  <% form_for [@project, @section], :html => {:style => "display:none;"} do |form| %>
    <%= form.text_field :name, :placeholder => "Name" %>
    <%= form.submit "Submit" %>
    <input type="button" value="Cancel" />
  <% end %>
</div>
<ul id="tasks">
  <%= render @section.tasks %>
  <li><%= render "tasks/new" %></li>
</ul>