<% form_for(@project) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <h3>Project participants</h3>
    <%= hidden_field_tag "project[user_ids][]", nil, :id => nil %>
    <% User.all.each do |user| %>
      <%= check_box_tag "project[user_ids][]", user.id, @project.users.all.include?(user), :id => "project_user_#{user.id}" %>
      <%= label_tag "project_user_#{user.id}", user.full_name %>
    <% end %>
  </p>
  <p>
    <%= f.submit 'Save form' %>
  </p>
<% end %>