<header>
	<h1><%=t '.title' %></h1>
</header>
<div class="wrap">
	<% if @projects[0] %>
		<h2><%=t '.active' %></h2>
		<ul>
			<% @projects.each do |project|%>
				<li><%= link_to h(project.name), project %></li>
			<% end %>
		</ul>
	<% end %>
	<% if @completed[0] %>
		<h2><%=t '.completed' %></h2>
		<ul>
			<% @completed.each do |project|%>
				<li><%= link_to h(project.name), project %></li>
			<% end %>
		</ul>
	<% end %>
</div>