<header>
	<h1 id="projects_title"><%=t '.title' %></h1>
	<ul class="actions">
		<%= link_to t(:'layouts.admin.new_project'), new_project_path %>
	</ul>
</header>
<div class="wrap">
	<% if @projects[0] %>
		<h2><%=t '.active' %></h2>
		<ul>
			<%= render @projects %>
		</ul>
	<% end %>
	<hr />
	<% if @completed[0] %>
		<h2><%=t '.completed' %></h2>
		<ul>
			<%= render @completed %>
		</ul>
		<hr />
	<% end %>
</div>