<header>
	<h1 id="project_title"><%=h @project.name %></h1>
	<ul class="actions">
		<li>
			<% link_to complete_project_path(@project, :complete => !@project.completed?), :'data-method' => "put" do %>
	   		<%= check_box_tag '', '', @project.completed? %> <%=t :'projects.completed' %>
	 		<% end %>
		</li>
	  <li><%= link_to t(:view), project_sections_path(@project) %></li>
	  <li><%= link_to t(:edit), edit_project_path(@project) %></li>
	  <li><%= link_to_delete t(:delete), @project, :confirm => t(:'projects.confirm') %></li>
	</ul>
</header>
<div class="wrap">
	<% if @project.users[0] %>
		<h2 class="statistics"><%=t :'projects.participants' %> (<%= @project.users.size %>)</h2>
		<ul>
		  <% @project.users.each do |user| %>
		    <li><%= link_to h(user.full_name), user %></li>
		  <% end %>
		</ul>
		<hr />
	<% end %>
	<% if @sections[0] %>
	<h2 class="statistics"><%=t :'projects.sections' %> (<%= @sections.size  %>)</h2>
	<ul>
	  <% @sections.each do |section| %>
			<li class="tasks_stats">
				<% link_to section do %>
					<%= render TasksStats.new(section)  %>
					<span><%= section.name %></span>
					<%= "<small>#{t('projects.archived_section')}</small>" if section.archived? %>
				<% end %>
			</li>
	 <% end %>
	</ul>
	<% end %>
</div>

