<div id="user_box">
  <header>
    <%= title t("devise.invitations.title", :sender => @invitation.account.owner.full_name) %>
  </header>
  <p style="padding-left: 20px;">
    <%= t("devise.invitations.hi", :name => @invitation.full_name) %>
  </p>
  <p style="padding: 10px 0 0 20px;">
    <%= raw t("devise.invitations.note", :sender => @invitation.account.owner.full_name, :account => @invitation.account.name) %>
  </p>
  <%= form_for @invitation.user, :url => sign_invitation_path(@invitation.token), :html => { :class => 'action_form', :multipart => true, :method => :put, :id => nil} do |f| %>
    <% if @invitation.user.new_record? %>
      <p style="padding-bottom: 15px;">
        <%= t("devise.invitations.instructions_register") %>
      </p>
  	  <%= render 'shared/error_messages', :target => f.object %>
  	  <%= f.label :password %>
  	  <%= f.password_field :password %>

  	  <%= f.label :password_confirmation %>
  	  <%= f.password_field :password_confirmation %>

      <%= f.label :locale %>
  	  <%= f.select :locale, {"Български език" => "bg", "English language" => "en"} %>

  	  <%= f.label :avatar %>
  	  <%= f.file_field :avatar %>
    <% else %>
  	  <%= f.label :password, t("devise.invitations.instructions_sign_in") %>
        <% if params.has_key? :user %>
          <ol class="error_messages">
            <li><%= t("devise.invitations.invalid_password") %></li>
          </ol>
        <% end %>
  	  <%= f.password_field :password %>
  	<% end %>
		<div class="buttons">
      <%= f.submit t("devise.invitations.accept") %>
	  </div>
  <% end %>
</div>