<header>
	<h1 id="users_title"><%=t "users.title" %></h1>
	<ul class="actions">
		<%= link_to t("layouts.accounts.new_user"), [:new, @account, :invitation] %>
	</ul>
</header>
<%= raw '<div class="wrap"><p class="notice">' + notice + '</p></div>' if notice %>
<%= raw '<div class="wrap"><p class="alert">' + alert + '</p></div>' if alert %>
<div class="wrap">
	<ul id="users_list">
	  <%= render @users %>
	</ul>
	<% unless @invitations.empty? %>
    <hr />
	  <h2 class="statistics"><%=t "users.invitations", :count => @invitations.size %></h2>
	  <ul id="invitations_list">
	    <% @invitations.each do |invitation| %>
	      <li>
  	      <strong><%= invitation.full_name %></strong> - <small><%= invitation.email %></small>
    	    <em>
    	      <%= link_to t("users.invitation_link"), sign_invitation_path(invitation.token) %> |
    	      <%= link_to t(:delete), [@account, invitation], :method => :delete, :confirm => t(:confirm) %>
    	    </em>
    	  </li>
	    <% end %>
	  </ul>
	<% end %>
</div>