<header>
	<h1 id="user_title"><%= @user.full_name %></h1>
  <% unless @user.id == @account.owner_id || current_user == @user%>
  	<ul class="actions">
  	  <li>
  			<%= link_to set_admin_account_user_path(@account, @user, :admin => !@account.admin?(@user)), :method => "put" do %>
  	   		<%= check_box_tag '', '', @account.admin?(@user) %> <%=t :'users.admin' %>
  	 		<% end %>
  		</li>
  	  <% unless @account.admin?(@user) %>
  		  <li><%= link_to_delete t(:delete), [@account, @user], :confirm => t(:'users.confirm') %></li>
  		<% end %>
  	</ul>
	<% end %>
</header>

<div id="content">
	<p>
		<% if @user.avatar? %>
		  <%= image_tag @user.avatar.url, :style => 'float: right' %>
		<% end %>

		<strong><%= User.human_attribute_name(:first_name) %>:</strong>
	  <%= @user.first_name %>
		<br />
		<strong><%= User.human_attribute_name(:last_name) %>:</strong>
	  <%= @user.last_name %>
		<br />
	  <strong><%= User.human_attribute_name(:email) %>:</strong>
	  <%=@user.email %>
	</p>

	<% if @user.projects[0] %>
		<h2 class="statistics"><%=t :'users.projects', :name => h(@user.full_name) %></h2>
		<%= form_tag [:set_projects, @account, @user], :method => :put %>
	  	<ul>
  		  <% @projects.each do |project| %>
  		    <li>
  		      <%= check_box_tag "project_ids[]", project.id, project.involves?(@user), :id => "project_ids_#{project.id}" %>
  		      <%= label_tag "project_ids_#{project.id}", project.name %>
  		    </li>
  		  <% end %>
  		</ul>
  		<div class="actions">
  		  <input type="submit" value="<%= t("users.change_projects", :name => @user.full_name) %>" class="submit_button">
  		</div>
		</form>
	<% end %>
</div>