<header>
	<h1 id="project_title"><%=t :'projects.edit_project' %></h1>
</header>
<div class="wrap">
	<%= form_for @account, :html => {:class => 'action_form'} do |f| %>
	  <%= render 'shared/error_messages', :target => f.object %>
	  <p>
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </p>
	  <div class="buttons">
      <%= f.submit t(:update) %> | <%= link_to t(:cancel), @account %>
	  </div>
	<% end %>
</div>