<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <title><%= @account.name + t(".title_#{controller_name}", :default => "") %></title>
  <%= stylesheet_link_tag 'legacy' %>
	<%= favicon_link_tag "favicon.png" %>
</head>
<body>
  <%= header do %>
    <h2>
      <%= @account.name  %>
      <% if current_user.admin_in_accounts.size > 1 %>
        <%= render "shared/accounts" %>
      <% else %>
  	    <%= link_to t("layouts.dashboard.back_to_dashboard"), root_path, :id => "back_to_dashboard" %>
  	  <% end %>
    </h2>
    <nav id="nav_project">
      <span>
        <%= link_to t("layouts.dashboard.title"), @account, :class => controller_name == "accounts" && "selected" %>
        <%= link_to t("users.title"), [@account, :users], :class => (controller_name == "users" || controller_name == "invitations") && "selected" %>
        <%= link_to t("projects.index"), [@account, :projects], :class => controller_name == "projects" && "selected" %>
      </span>
    </nav>
  <% end %>
  <section>
    <article>
      <%= yield %>
    </article>
    <aside>
			<section>
        <h3><%=t :'.users', :count => @account.users.size %></h3>
        <ul>
          <li><%= link_to t(:'.new_user'), [:new, @account, :invitation] %></li>
          <li><%= link_to t(:'.manage_users'), [@account, :users] %></li>
        </ul>
      </section>
      <section>
        <% @projects ||= @account.projects.active %>
        <h3><%=t ".current_projects", :count => @projects.size  %></h3>
        <ul>
          <% @projects.each do |project| %>
          <li><%= link_to project.name, [@account, project] %></li>
          <% end %>
        </ul>
				<%= link_to t(:'.new_project'), [:new, @account, :project] %><br />
				<%= link_to t(:'.manage_projects'), [@account, :projects] %>
      </section>
    </aside>
  </section>
  <%= render "shared/footer" %>
</body>
</html>
