<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <title><%= @account.name + t(".title_#{controller_name}", :default => "") %></title>
  <%= stylesheet_link_tag 'application' %>
	<%= favicon_link_tag "favicon.png" %>
</head>
<body>
  <%= header do %>
    <h2><%= @account.name  %></h2>
    <nav id="nav_project">
      <span>
        <%= link_to t("layouts.dashboard.title"), :root, :class => controller_name == "dashboard" && "selected" %>
        <% if @account.admin?(current_user) %>
          <%= link_to t("users.title"), [@account, :users], :class => controller_name == "users" && "selected" %>
          <%= link_to t("projects.index"), [@account, :projects], :class => controller_name == "projects" && "selected" %>
        <% end %>
      </span>
    </nav>
  <% end %>
  <section>
    <article>
      <%= yield %>
    </article>
    <aside>
			<section>
        <h3><%=t :'.users', :count => @account.users.size %></h3>
        <ul>
          <li><%= link_to t(:'.new_user'), [:new, @account, :user] %></li>
          <li><%= link_to t(:'.manage_users'), [@account, :users] %></li>
        </ul>
      </section>
      <section>
        <% @projects ||= @account.projects.active %>
        <h3><%=t :".current_projects", :count => @projects.size  %></h3>
        <ul>
          <% @projects.each do |project| %>
          <li><%= link_to project.name, [@account, project] %></li>
          <% end %>
        </ul>
				<%= link_to t(:'.new_project'), [:new, @account, :project] %><br />
				<%= link_to t(:'.manage_projects'), [@account, :projects] %>
      </section>
    </aside>
  </section>
  <%= render "shared/footer" %>
	<div id="info_bubble" style="display:none;"><%=raw t("tasks.move_into_section") %></div>
	<%= sprockets_include_tag %>
</body>
</html>
