<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <title><%= account.name + t(".title_#{controller_name}", :default => "") %></title>
  <%= stylesheet_link_tag 'application' %>
	<link rel="shortcut icon" href="<%= path_to_image 'favicon.png' %>" type="image/x-icon" />
</head>
<body>
  <%= render "shared/header" %>
  <section>
    <article>
      <%= yield %>
    </article>
    <aside>
			<div class="aside_section">
        <h3><%=t :'.users', :count => account.users.size %></h3>
        <ul>
          <li><%= link_to t(:'.new_user'), new_user_path %></li>
          <li><%= link_to t(:'.manage_users'), users_path %></li>
        </ul>
      </div>
      <div class="aside_section">
        <% @projects ||= account.projects.active %>
        <h3><%=t :".current_projects", :count => @projects.size  %></h3>
        <ul>
          <% @projects.each do |project| %>
          <li><%= link_to h(project.name), project %></li>
          <% end %>
        </ul>
				<%= link_to t(:'.new_project'), new_project_path %><br />
				<%= link_to t(:'.manage_projects'), projects_path %>
      </div>
    </aside>
  </section>
  <%= render "shared/footer" %>
</body>
</html>
