<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	  <%= csrf_meta_tag %>
    <title><%= content_for?(:title) ? "#{yield :title} | Taskar" : "Taskar" %></title>
  	<%= stylesheet_link_tag 'application' %>
    <%= favicon_link_tag "favicon.png" %>
  </head>
  <body>
  	<%= header if current_user %>
		<section id="outside_box">
    	<%= yield %>
		</section>
  </body>
</html>