<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <title><%=t :'.title' %></title>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
  <%= render "shared/header" %>
  <section>
    <article>
      <%= yield %>
    </article>
    <aside>
      <% if current_user.admin? %>
      <div>
        <h3><%=t :".manage"  %></h3>
        <ul>
          <li><%= link_to t(:'users.title'), users_path %></li>
          <li><%= link_to t(:'layouts.projects.title'), projects_path %></li>
        </ul>
      </div>
      <% end %>
      <div>
        <h3><%=t :".current_projects", :count => @projects.size  %></h3>
        <ul>
          <% @projects.each do |project| %>
          <li>
              <strong><%= link_to project.name, [project, :sections] %></strong>
          </li>
          <% end %>
        </ul>
      </div>
    </aside>
  </section>
  <%= render "shared/footer" %>
</body>
</html>
