<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <title><%=t :'.title' %></title>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
  <%= render "shared/header" %>
  <section>
    <article>
      <%= yield %>
    </article>
    <aside>
      <div>
        <h3><%=t :'.users', :count => User.count %></h3>
        <ul>
          <li><%= link_to t(:'.new_user'), new_user_path %></li>
          <li><%= link_to t(:'.manage_users'), users_path %></li>
        </ul>
      </div>
      <div>
        <% @projects = Project.all %>
        <h3><%=t :".current_projects", :count => @projects.size  %></h3>
        <ul>
          <% @projects.each do |project| %>
          <li>
              <strong><%= link_to project.name, [project, :sections] %></strong>
              (<%= link_to t(:'.project_settings'), project %>)
          </li>
          <% end %>
        </ul>
      </div>
      <%= link_to t(:'.new_project'), new_project_path %>
    </aside>
  </section>
  <%= render "shared/footer" %>
</body>
</html>
