<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=t :project %>: <%= @project.name %><%= " / #{@section.name}" if @section %></title>
  	<%= stylesheet_link_tag 'legacy_print', :media => 'all' %>
    <%= favicon_link_tag "favicon.png" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>