<html>
<head>
  <meta charset="utf-8">
  <title><%=t :project %>: <%= @project.name %><%= " / #{@section.name}" if @section %></title>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
  <header>
    <p id="nav_account">
      <%= link_to t(:".profile"), edit_user_registration_path %> | 
      <%= link_to t(:".logout"), destroy_user_session_path %>
    </p>
    <div id="nav_projects">
      <span><%= t :".switch_to_project" %></span>
      <ul>
        <% Project.all(:limit => 10).each do |project| %>
        <li><%= link_to project.name, [project, :sections] %></li>
        <% end %>
        <li><%= link_to t(:".all_projects"), projects_path %></li>
      </ul>
    </div>
  </header>
  <nav id="nav_main">
    <%= link_to '', [@project, :sections], :id => "goto_dashboard", :title => t(:".goto_dashboard")  %>
    <ul id="nav_sections">
      <% @project.sections.all.each do |section| %>
        <%= new_section_link(section) %>
        <li class="section">
          <%= link_to h(section.name), section, :class => @section == section ? "selected" : nil %>
        </li>
      <% end %>
      <%= new_section_link %>
      <li id="new_section" style="display:none;">
        <% form_for [@project, Section.new], :html => {:id => nil} do |form|  %>
          <%= form.text_field :name, :autocomplete => "off", :placeholder => Section.human_attribute_name(:name) %>
          <%= form.hidden_field :insert_before %>
          <%= form.submit t(:create) %>
          <input type="button" value="<%= t(:cancel) %>" />
        <% end %>
      </li>
    </ul>
    <div id="nav_more_sections">
      <span title="View sections"></span>
      <ul>
        <li><a href="#">TODO</a></li>
      </ul>
    </div>
  </nav>
  <section>
    <article>
      <%= yield %>
    </article>
    <aside>
      <form id="live_search">
        <input type="text" value="" />
        <input type="submit" value="" />
        <%= image_tag "loader1.gif", :style => 'display: none;' %>
        <ul style="display: none;">
          <li><a href="#">TODO</a></li>
          <li class="selected"><a href="#">TODO</a></li>
          <li><a href="#"><strong>TO</strong>DO</a></li>
        </ul>
      </form>
      <div id="user_card">
        <a href="#">
          <%= image_tag current_user.avatar.url %>
          <strong><%= current_user.full_name %></strong>
          <%=t :".tasks", :count => rand(10) %>
        </a>
      </div>
      <div id="people_envolved">
        <h3>
          <%=t :".people_in_project" %>
          <button class="list_extended"></button>
          <button class="list_images list_on"></button>
        </h3>
        <ul class="people_extended">
          <% for i in 1..4 %>
          <li>
            <a href="#"><%= image_tag "temp/ra4oil.png" %></a>
            <span class="people_info">              
                <strong>Radoslav Stankov</strong>
                <%=t :".last_activity", :time => "12.06.2010 09:15" %>
            </span>
          </li>
          <% end %>
        </ul>
      </div>
    </aside>
  </section>
  <footer>
    <p><%= copywrite %></p>
    <a href="#nav_account" id="scroll_to_top"><span title="<%=t :"scroll_to_top" %>"></span></a>
  </footer>
  <%= sprockets_include_tag %>
</body>
</html>
