<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <title><%=t :project %>: <%= @project.name %><%= " / #{@section.name}" if @section %></title>
  <%= stylesheet_link_tag "application" %>
  <%= favicon_link_tag "favicon.png" %>
</head>
<body>
  <%= header do %>
    <h2>
      <%= @project.name  %>
  		<% if current_user.projects.active.size > 1 %>
  	    <nav id="nav_projects">
  	      <span><%= t :".switch_to_project" %></span>
  	      <ul>
  	        <% current_user.projects.order(:account_id).active(:limit => 10).each do |project| %>
  	        <li><%= link_to project.name, [project, :sections], :class => @project == project && "selected" %></li>
  	        <% end %>
  	        <li><%= link_to t(:".all_projects"), root_path, :class => "all_projects" %></li>
  	      </ul>
  	    </nav>
  	  <% else %>
  	    <%= link_to t(".manage_projects"), root_path, :id => "back_to_dashboard" %>
  	  <% end %>
		</h2>
    <nav id="nav_project">
  		<%= link_to 0, [@project, :sections], :id => "notify_badge", :style => "display: none;" %>
  		<span>
        <%= link_to t(".dashboard"), [@project, :sections], :class => section_is_dashboard? && "selected" %>
        <%= link_to t(".task_list"), [:tasks, @project, :sections], :class => section_is_tasks? && "selected" %>
        <%= link_to t(".archive"), [:archived, @project, :sections], :class => section_is_archive? && "selected" %>
      </span>
    </nav>
  <% end %>
  <section>
    <article id="<%= "#{controller_name}_#{action_name}" %>">
      <%= yield %>
    </article>
    <aside id="section_aside" data-update-path="<%= project_aside_index_path(@project) %>">
      <form id="live_search" action="<%= search_project_tasks_path(@project) %>" method="get">
        <input type="text" name="ss" value="" />
        <input type="submit" value="" />
        <%= image_tag "loaders/live_search.gif", :style => 'display: none;', :alt => current_user.full_name %>
        <ul style="display: none;"></ul>
      </form>
      <div id="user_card">
        <%= image_tag current_user.avatar.url %>
        <strong><%= current_user.full_name %></strong>
				<%= link_to participant_task_count(current_user.responsibilities_count(@project.id)), [@project, :tasks] %>
				<br />
				<%= link_to t(".status.clear"), [:clear, @project, :statuses], "data-method" => "delete", "data-remote" => true %>
        <%= form_for [@project, Status.new], :html => {:class => "action_form tooltip", :style => "display: none;", "data-remote" => true, "data-disable" => false} do |form| %>
          <div class="arrow"></div>
          <section>
            <%= form.label :text, t(".status.label") %>
  			    <%= form.text_area :text  %>
  			    <p class="buttons">
  			      <%= form.submit t(".status.share") %>
              <%=t :or %>
              <input type="button" value="<%= t :cancel %>" class="cancel">
  			    </p>
  			  </section>
  			<% end %>
      </div>
      <div id="sections">
        <h3><%= t :".sections" %><%= link_to "+", [:new, @project, :section], :title => t(".new_section") %></h3>
        <ul data-sortable="<%= reorder_project_sections_path(@project.id) %>">
  	      <% @project.sections.unarchived.each do |section| %>
  	        <%= content_tag_for(:li, section) do %>
              <%= new_section_link section %>
              <%= link_to section.name, section, :class => "link " + (@section == section && "selected").to_s %>
              <input type="button" class="drag" title="<%=t :dnd %>" />
            <% end %>
          <% end %>
  	      <li><%= new_section_link %></li>
  	      <li id="new_section" style="display: none;">
      	    <%= form_for [@project, Section.new], :html => {:id => nil} do |form|  %>
     	        <%= form.label :name %>
              <%= form.text_field :name, :autocomplete => "off" %>
              <%= form.hidden_field :insert_before %>
              <%= form.submit t(:create), :class => "submit_button" %>
              <%= t :or %>
              <input type="button" value="<%= t(:cancel) %>" />
            <% end %>
          </li>
  	    </ul>
      </div>
      <% if @project.participants.size > 1 %>
        <div id="people_envolved">
          <h3>
            <%=t :".people_in_project" %>
            <!--
            <button class="list_extended"></button>
            <button class="list_images list_on"></button>
            -->
          </h3>
          <ul class="people_extended">
            <% @project.participants.each do |participant| %>
              <%= content_tag_for :li, participant, :title => participant_status_title(participant) do %>
                <%= image_tag participant.user.avatar.url(:aside), :alt => participant.user.full_name %>
                <span class="people_info">
                  <strong><%= participant.user.full_name %></strong>
                  <span class="status"><%= participant_status participant %></span>
                </span>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    </aside>
  </section>
  <%= render "shared/footer" %>
  <div id="info_bubble" style="display:none;"><%=raw t("tasks.move_into_section") %></div>
	<%= sprockets_include_tag %>
</body>
</html>