<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <title><%=t :project %>: <%= @project.name %><%= " / #{@section.name}" if @section %></title>
  <%= stylesheet_link_tag 'application' %>
	<link rel="shortcut icon" href="<%= path_to_image 'favicon.png' %>" type="image/x-icon" />
</head>
<body>
  <% content_for :header do %>
    <h2><%= @project.name  %></h2>
    <div id="nav_projects">
      <span><%= t :".switch_to_project" %></span>
      <ul>
        <% current_user.projects.active(:limit => 10).each do |project| %>
        <li><%= link_to project.name, [project, :sections], :class => @project == project && "selected" %></li>
        <% end %>
        <li><%= link_to t(:".all_projects"), root_path %></li>
      </ul>
    </div>
    <nav id="nav_project">
  		<%= link_to 0, [@project, :sections], :id => "notify_badge", :style => "display: none;" %>
  		<span>
        <%= link_to t(".dashboard"), [@project, :sections], :class => section_is_dashboard? && "selected" %>
        <%= link_to t(".task_list"), [@project, :sections], :class => section_is_tasks? && "selected" %>
        <%= link_to t(".archive"), [@project, :sections], :class => section_is_archive? && "selected" %>
      </span>
    </nav>
  <% end %>
  <%= render "shared/header" %>
  <nav id="nav_main">
		<div class="tooltip" style="display: none;">
			<div class="arrow"></div>
			<div class="actions"><%= t(:'.new_section') %></div>
		</div>
    <%= link_to '', [@project, :sections], :id => "goto_dashboard", :title => t(:".goto_dashboard")  %>
		<div id="nav_sections">
    	<ul data-sortable="<%= reorder_project_sections_path(@project.id) %>">
	      <% @project.sections.unarchived.each do |section| %>
	        <%= new_section_link(section) %>
	        <% content_tag_for(:li, section) do %>
	            <%= link_to h(section.name), section, :class => @section == section ? "selected" : nil %>
	        <% end %>
	      <% end %>
	      <%= new_section_link %>
	      <li id="new_section" style="display:none;">
	        <% form_for [@project, Section.new], :html => {:id => nil} do |form|  %>
	          <%= form.text_field :name, :autocomplete => "off", :placeholder => Section.human_attribute_name(:name) %>
	          <%= form.hidden_field :insert_before %>
	          <%= form.submit t(:create) %>
	          <input type="button" value="<%= t(:cancel) %>" />
	        <% end %>
	      </li>
	    </ul>
		</div>
    <div id="nav_more_sections">
      <% if @project.sections.archived[0] %>
        <span title="<%=t :'.archived_sections' %>"></span>
        <ul>
          <% @project.sections.archived.each do |section| %>
          <li><%= link_to section.name, section, :class => @section == section && 'selected' %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </nav>
  <section>
    <article id="<%= "#{controller_name}_#{action_name}" %>">
      <%= yield %>
    </article>
    <aside id="section_aside" data-update-path="<%= project_aside_index_path(@project) %>">
      <form id="live_search" action="<%= search_project_tasks_path(@project) %>" method="get">
        <input type="text" name="ss" value="" />
        <input type="submit" value="" />
        <%= image_tag "loader1.gif", :style => 'display: none;', :alt => current_user.full_name %>
        <ul style="display: none;"></ul>
      </form>
      <div id="user_card">
        <%= image_tag current_user.avatar.url %>
        <strong><%=h current_user.full_name %></strong>
				<%= link_to participant_task_count(current_user.responsibilities_count(@project.id)), [@project, :tasks] %>
				<br />
				<%= link_to t(".status.clear"), [:clear, @project, :statuses], "data-method" => "delete", "data-remote" => true %>
        <% form_for [@project, Status.new], :html => {:class => "action_form tooltip", :style => "display: none;", "data-remote" => true} do |form| %>
          <div class="arrow"></div>
          <div class="form_content">
            <%= form.label :text, t(".status.label") %>
  			    <%= form.text_area :text  %>
  			    <p class="buttons">
  			      <%= form.submit t(".status.share") %>
  			      <input type="button" value="<%= t :cancel %>">
  			    </p>
  			  </div>
  			<% end %>
      </div>
      <div class="aside_section sections">
        <h3><%= t :".sections" %></h3>
        <ul>
  	      <% @project.sections.unarchived.each do |section| %>
  	        <% content_tag_for(:li, section) do %>
  	            <%= link_to h(section.name), section, :class => @section == section && "selected" %>
  	            <%= link_to "&nbsp;", new_project_section_path(@project, :before => section.id), :class => "add_section" %>
  	        <% end %>
  	      <% end %>
  	    </ul>
  	    <% form_for [@project, Section.new], :html => {:style => "display:none;"} do |form|  %>
          <%= form.text_field :name, :autocomplete => "off", :placeholder => Section.human_attribute_name(:name) %>
          <%= form.hidden_field :insert_before %>
          <%= form.submit t(:create) %>
          <input type="button" value="<%= t(:cancel) %>" />
        <% end %>
      </div>
      <div id="people_envolved">
        <h3>
          <%=t :".people_in_project" %>
          <!--
          <button class="list_extended"></button>
          <button class="list_images list_on"></button>
          -->
        </h3>
        <ul class="people_extended">
          <% @project.participants.each do |participant| %>
            <% content_tag_for :li, participant, :title => participant_status_title(participant) do %>
              <%= image_tag participant.user.avatar.url(:aside), :alt => participant.user.full_name %>
              <span class="people_info">              
                <strong><%=h participant.user.full_name %></strong>
                <span class="status"><%= participant_status participant %></span>
              </span>
            <% end %>
          <% end %>
        </ul>
      </div>
    </aside>
  </section>
  <%= render "shared/footer" %>
</body>
</html>
