<html>
<head>
  <meta charset="utf-8">
  <title>Project: <%= @project.name %></title>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
  <header>
    <p id="nav_account">
      <a href="<%= edit_user_registration_path %>">Profile</a> |
      <a href="<%= destroy_user_session_path %>">Logout</a>
    </p>
    <div id="nav_projects">
      <span>Switch to a different project</span>
      <ul>
        <% Project.all(:limit => 10).each do |project| %>
        <li><%= link_to project.name, [project, :sections] %></li>
        <% end %>
        <li><%= link_to "all projects", projects_path %></li>
      </ul>
    </div>
  </header>
  <!-- TODO: <p style="color: green"><%= notice %></p>  -->
  <nav id="nav_main">
    <%= link_to '', [@project, :sections], :id => "goto_dashboard"  %>
    <ul id="nav_sections">
      <% @project.sections.all.each do |section| %>
        <li class="add_section" data-before="<%= section.id %>">
          <%= link_to "<span>Add new section</span>", new_project_section_path(@project, :before => section.id) %>
        </li>
        <li class="section">
          <%= link_to h(section.name), [@project, section], :class => @section == section ? "selected" : nil %>
        </li>
      <% end %>
      <li class="add_section"><%= link_to "<span>Add new section</span>", [:new, @project, :section] %></li>
      <li id="new_section" style="display:none;">
        <% form_for [@project, Section.new], :html => {:id => nil} do |form|  %>
          <%= form.text_field :name, :autocomplete => "off", :placeholder => "Name" %>
          <%= form.hidden_field :insert_before %>
          <%= form.submit "Create" %>
          <input type="button" value="Cancel" />
        <% end %>
      </li>
    </ul>
    <div id="nav_more_sections">
      <span title="View sections"></span>
      <ul>
        <li><a href="#">Design</a></li>
        <li><a href="#">HTML/CSS</a></li>
        <li><a href="#">CMS</a></li>
        <li><a href="#">Test</a></li>
      </ul>
    </div>
  </nav>
  <section>
    <article>
      <%= yield %>
    </article>
    <aside>
      <form id="live_search">
        <input type="text" value="" />
        <input type="submit" value="" />
        <%= image_tag "loader1.gif", :style => 'display: none;' %>
        <ul style="display: none;">
          <li><a href="#">fuck da world</a></li>
          <li class="selected"><a href="#">fuck da world</a></li>
          <li><a href="#"><strong>fuck</strong> da world</a></li>
        </ul>
      </form>
      <div id="user_card">
        <a href="#">
          <%= image_tag "temp/ra4oil.png" %>
          <strong>Dobromir Raynov</strong>
          69 tasks
        </a>
      </div>
      <div id="people_envolved">
        <h3>
          People on this project
          <button class="list_extended"></button>
          <button class="list_images list_on"></button>
        </h3>
        <ul class="people_extended">
          <% for i in 1..4 %>
          <li>
            <a href="#"><%= image_tag "temp/ra4oil.png" %></a>
            <span class="people_info">              
                <strong>Radoslav Stankov</strong>
                last active: 12.12.2012 09:15<span></span>              
            </span>
          </li>
          <% end %>
        </ul>
      </div>
    </aside>
  </section>
  <footer>
    <p>© <%= Time.now.year %> Radoslav Stankov</p>
    <a href="#nav_projects"><span title="Scroll to top"></span></a>
  </footer>
  <%= sprockets_include_tag %>
</body>
</html>
